@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400&display=swap");

body {
  font-family: "Prompt", sans-serif;
  padding-top: 4.5rem;
  background-color: #f1efef;
}

.navbar-underline {
  border-bottom: 5px solid rgb(0, 235, 0);
  /* เส้นใต้สีแดง */
}

.footer {
  background-color: white;
  /* สีพื้นขาว */
  /* คุณสามารถปรับแต่งสีพื้นและสไตล์อื่น ๆ ตามต้องการ */
}